<!DOCTYPE html>
    <html>
    <head>
        <title></title>
        <link href="/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    </head>
    <body>
        <p>Index Works</p>
    </body>
    </html>     